/*! https://coolors.co/201e1f-c9f0ff-eafffd-efeff0-d5cad6 */

:root{
    --color-primary: #201e1f;
    --color-secondary: #c9f0ff;
    --color-three: #eafffd;
    --color-four: #efeff0;
    --color-fifth: #d5cad6;
    --color-sixth: #247BA0;
}